<?xml version="1.0" encoding="UTF-8"?><plist version="1.0"><dict><key>method</key><string>app-store</string><key>signingStyle</key><string>manual</string><key>teamID</key><string>$(DEVELOPMENT_TEAM)</string><key>destination</key><string>export</string><key>provisioningProfiles</key><dict><key>com.wanasa.aldeerah</key><string>$(PROVISIONING_PROFILE_SPECIFIER)</string></dict></dict></plist>